atlassian-ide-plugin.xml
.idea/
.vscode/
typings/
cache.properties
.DS_Store
/node_modules
/coverage
app/config/local.json
.vagrant
**/node_modules
**/coverage
newrelic_agent.log
npm-debug.log
jsconfig.json